<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-content padding> -->
<ion-content>
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->

  <div class="game-container">
    <img class="bg-nokia absolute-center" src="../../assets/imgs/nokia2280p.png">
    <!-- <img class="bg-nokia absolute-center" src="../snake-n2280/assets/nokia2280p.png"> -->
    <div class="start-menu absolute-center customfont"  *ngIf="!gameStarted" (click)="newGame()">
        CLICK TO START
    </div>
    <div class="start-menu absolute-center customfont blink-me"  *ngIf="gameOver">
        GAME OVER
    </div>
    <div class="game-screen absolute-center">
    <div class="game-score customfont">{{score}}</div>
    <div class="game-board">
      <div class="row" *ngFor="let column of board; let i = index">
        <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index">
        </div>
      </div>
    </div>
    </div>
    <div class="keypad absolute-center">
      <div class="row-buttons">
        <div class="arrow-hidden"></div>
        <div class="arrow" (click)="setDirection(38)"></div>
        <div class="arrow-hidden"></div>
      </div>
      <div class="row-buttons">
        <div class="arrow" (click)="setDirection(37)"></div>
        <div class="arrow-hidden"></div>
        <div class="arrow" (click)="setDirection(39)"></div>
      </div>
      <div class="row-buttons">
        <div class="arrow-hidden"></div>
        <div class="arrow" (click)="setDirection(40)"></div>
        <div class="arrow-hidden"></div>
      </div>
    </div>
  </div>
</ion-content>
